.idea/
/vendor
/node_modules
/storage/*.key
/public/storage
/public/js
Homestead.yaml
Homestead.json
composer.lock
.env
public/js/
public/messages.js
npm-debug.log
# libre office opened lock files
.~lock*
~$*.xlsx
laravel-echo-server.json
package-lock.json
.vscode/
nohup.out
