{% extends "layout/default.twig" %}

{% block title %}Users{% endblock %}

{% block content %}
	<div class="page home-page">
		<h1>Users</h1>
		<ul class="users">

			{% for user in users %}
				<li class="user">
					<a href="/user/{{ user.getUsername() }}/">
						{{ user.getId() }}
						{{ user.getUsername() }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}