<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<link href='{{ BASE_URL }}/style/app.css' rel='stylesheet' type='text/css'>
	{% block head %}

		<title>{% block title %}{% endblock %} - Sleep log</title>
	{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
	{% block footer %}
		Copyright 2017 by <a href="http://mraiur.com/">mraiur.com</a>.
	{% endblock %}
</div>
</body>
</html>
